body {
  font-family: 'Open Sans', sans-serif;
}

h1,
h2 {
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}
